<!DOCTYPE html>
<html>
<head>
    <title>Citas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='citas.css') }}">
</head>
<body>
    
    <div class="container">
        <a href="{{ url_for('index') }}">inicio</a>
        <form method="POST" class="form-citas">
            <select name="paciente_id" required>
                {% for paciente in pacientes %}
                <option value="{{ paciente.id_paciente }}">{{ paciente.nombre }}</option>
                {% endfor %}
            </select>
            
            <select name="doctor_id" required>
                {% for doctor in doctores %}
                <option value="{{ doctor.id_doctor }}">{{ doctor.nombre }}</option>
                {% endfor %}
            </select>
            
            <input type="datetime-local" name="fecha_hora" required>
            <button type="submit">Agendar Cita</button>
        </form>
    </div>
</body>
</html>